{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="PremierDex is a decentralized exchange that aims to create powerful tools to help all traders trade easily on the algorand blockchain, leading to more equality." />
  <meta name="keywords"
    content="Algorand, Dex, Premier Dex, Token, Presale, Airdrop, Swap, Chart, WhitePaper, Tokenomics, Blockchain, Fast, Cheap, Cheapest, Best, " />
  <meta name="author" content="Ibrahim, odiaga raymond" />

  <title>PremierDex - A DEX on Algorand</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'main/assets/img/fav.png' %}" type="image/x-icon" />
  <!-- Bootstrap 4.5 -->
  <link rel="stylesheet" href="{% static 'main/assets/css/bootstrap.min.css' %}" type="text/css" />
  <!-- animate -->
  <link rel="stylesheet" href="{% static 'main/assets/css/animate.css' %}" type="text/css" />
  <!-- Swiper -->
  <link rel="stylesheet" href="{% static 'main/assets/css/swiper.min.css' %}" />
  <!-- icons -->
  <link rel="stylesheet" href="{% static 'main/assets/css/icons.css' %}" type="text/css" />
  <!-- aos -->
  <link rel="stylesheet" href="{% static 'main/assets/css/aos.css' %}" type="text/css" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'main/assets/css/main.css' %}" type="text/css" />
  <!-- normalize -->
  <link rel="stylesheet" href="{% static 'main/assets/css/normalize.css' %}" type="text/css" />

  <!-- js for Brwoser -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="dark-currency">
  <div id="wrapper">
    <div id="content">
      <div id="particles-js"></div>
      <!-- Start header -->
      
      
      <!-- End. Fixed side menu -->
      <!-- Stat main -->
      <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        

        

        

        <!-- Start Features -->
        <section class="features_section install_app padding-t-12 demo_2 demo_4 banner_section" style="background-color: #091d2e">
          <div class="container">
            <div class="row">
              <!-- text -->
              <div class="col-lg-6 mr-auto order-1 order-lg-0">
                <div class="title_sections mb-0">
                  <h2 class="c-white">
                    PremierDex Presale is Live
                  </h2>
                  <p>
                    
                  </p>
                  <ul class="list-group">
                    <li class="list-group-item c-currency-p media border-0">
                      <i class="tio record c-currency-p align-middle font-s-8 mr-2"></i>
                      <div class="media-body">
                        Total Presale tokens : 37,500,000 PMDT
                      </div>
                    </li>
                    <li class="list-group-item c-currency-p media border-0">
                      <i class="tio record c-currency-p font-s-8 mr-2"></i>
                      <div class="media-body">
                         Minimum buy : 10 ALGO
                      </div>
                    </li>
                    <li class="list-group-item c-currency-p media border-0">
                      <i class="tio record c-currency-p font-s-8 mr-2"></i>
                      <div class="media-body">
                        Maximum buy : 200 ALGO
                      </div>
                    </li>

                    <li class="list-group-item c-currency-p media border-0">
                      <i class="tio record c-currency-p font-s-8 mr-2"></i>
                      <div class="media-body">
                        Softcap : 5000 ALGO

                      </div>
                    </li>

                    <li class="list-group-item c-currency-p media border-0">
                      <i class="tio record c-currency-p font-s-8 mr-2"></i>
                      <div class="media-body">
                        Hardcap : 25000 ALGO
                      </div>
                    </li>

                    <li class="list-group-item c-currency-p media border-0">
                      <i class="tio record c-currency-p font-s-8 mr-2"></i>
                      <div class="media-body">
                        Presale Duration : 7 days or when Hardcap is reached
                      </div>
                    </li>

                    
                  </ul>
                </div>
              </div>
              <!-- img -->
              <div class="col-lg-6 ml-auto order-0 order-lg-1">
                <div class="images">
                  <img src="https://itforum.com.br/wp-content/uploads/2018/11/futuro-%C3%A9-uma-oportunidade-para-desenharmos-cidades-resilientes-e-sustent%C3%A1veis-768x480.jpg" width="100%" />
                </div>
              </div>
            </div>
          </div>
        


        
          <div class="container">
            <div class="row justify-content-md-center text-center">
              <div class="col-md-12 col-lg-12">
                <div class="banner_title" style="color: #fff">
                  <br>Presale Address(click to copy)
                  <div class="offer">
                    
                    <p class="c-magenta copy-btn" data-hex="B4QOYSTBXSPNEGOUXF6QLSSVT27ER4N5RWV3EMA3RMGU3NFU45KGM6B7HY" style="font-size: 12px">B4QOYSTBXSPNEGOUXF6QLSSVT27ER<br>4N5RWV3EMA3RMGU3NFU45KGM6B7HY <i class="tio copy"></i></p>
                  </div>
                  this is the only recognized presale address
                </div>
                <br>
                <p class="c-magenta copy-btn">
                    Anyone participating in the token sale must add the Asset ID 427841595 in order to receive their tokens when distribution starts.
                  </p>
              </div>
              
              
            </div>
                      </div>
        </section>
        <!-- End Banner -->

        

       

        

        <!-- Start form Contact -->
        

        
      </main>
      <!-- end main -->
    </div>
    <!-- [id] content -->
    <footer class="footer_short theme_crypto padding-t-2" style="background-color: #091d2e;">
      <div class="container">
        <div class="row justify-content-md-center text-center">
          <div class="col-md-8">
            
            <div class="social--media">
              <a href="#" class="btn so-link">
                <i class="tio reddit"></i>
              </a>
              <a href="#" class="btn so-link">
                <i class="tio github"></i>
              </a>
              <a href="#" class="btn so-link">
                <i class="tio instagram"></i>
              </a>
              <a href="#" class="btn so-link">
                <i class="tio twitter"></i>
              </a>
              <a href="#" class="btn so-link">
                <i class="tio twitter"></i>
              </a>
              <a href="#" class="btn so-link">
                <i class="tio facebook_square"></i>
              </a>
            </div>
            
            <div class="opyright">
              <p>
                © 2021
                <a href="" target="_blank">oppenhiem.</a>
                All Right Reseved
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </footer>

    <!-- Back to top with progress indicator-->
    <div class="prgoress_indicator">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>

    <!-- Tosts -->
    


    <!-- Start Section Loader -->
    <section class="loading_overlay">
      <div class="loader_logo">
        <img class="logo" src="{% static 'main/assets/img/output-onlinepngtools (1).png' %}"  width="500px !important" />
      </div>
    </section>
    <!-- End. Loader -->

    
  <!-- End. warapper -->

  <!-- jquery -->

  <script type="text/javascript">
  const copyBtns = [...document.getElementsByClassName('copy-btn')]
  let previous = null

  copyBtns.forEach(btn=> btn.addEventListener('click', ()=>{
    const number = btn.getAttribute('data-hex')
    navigator.clipboard.writeText(number)
    btn.textContent = 'address copied to clipboard'

    if (previous) {
      previous.textContent = 'address copied to clipboard'
    }
    previous = btn
  }))
</script>
  <script src="{% static 'main/assets/js/jquery-3.5.0.js' %}" type="text/javascript"></script>
  <!-- jquery-migrate -->
  <script src="{% static 'main/assets/js/jquery-migrate.min.js' %}" type="text/javascript"></script>
  <!-- popper -->
  <script src="{% static 'main/assets/js/popper.min.js' %}" type="text/javascript"></script>
  <!-- bootstrap -->
  <script src="{% static 'main/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <!--
  ============
  vendor file
  ============
   -->
  <!-- particles -->
  <script src="{% static 'main/assets/js/vendor/particles.min.js' %}" type="text/javascript"></script>
  <!-- TweenMax -->
  <script src="{% static 'main/assets/js/vendor/TweenMax.min.js' %}" type="text/javascript"></script>
  <!-- ScrollMagic -->
  <script src="{% static 'main/assets/js/vendor/ScrollMagic.js' %}" type="text/javascript"></script>
  <!-- animation.gsap -->
  <script src="{% static 'main/assets/js/vendor/animation.gsap.js' %}" type="text/javascript"></script>
  <!-- addIndicators -->
  <script src="{% static 'main/assets/js/vendor/debug.addIndicators.min.js' %}" type="text/javascript"></script>
  <!-- Swiper js -->
  <script src="{% static 'main/assets/js/vendor/swiper.min.js' %}" type="text/javascript"></script>
  <!-- countdown -->
  <script src="{% static 'main/assets/js/vendor/countdown.js' %}" type="text/javascript"></script>
  <!-- simpleParallax -->
  <script src="{% static 'main/assets/js/vendor/simpleParallax.min.js' %}" type="text/javascript"></script>
  <!-- waypoints -->
  <script src="{% static 'main/assets/js/vendor/waypoints.min.js' %}" type="text/javascript"></script>
  <!-- counterup -->
  <script src="{% static 'main/assets/js/vendor/jquery.counterup.min.js' %}" type="text/javascript"></script>
  <!-- charming -->
  <script src="{% static 'main/assets/js/vendor/charming.min.js' %}" type="text/javascript"></script>
  <!-- imagesloaded -->
  <script src="{% static 'main/assets/js/vendor/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
  <!-- BX-Slider -->
  <script src="{% static 'main/assets/js/vendor/jquery.bxslider.min.js' %}" type="text/javascript"></script>
  <!-- Sharer -->
  <script src="{% static 'main/assets/js/vendor/sharer.js' %}" type="text/javascript"></script>
  <!-- sticky -->
  <script src="{% static 'main/assets/js/vendor/sticky.min.js' %}" type="text/javascript"></script>
  <!-- Aos -->
  <script src="{% static 'main/assets/js/vendor/aos.js' %}" type="text/javascript"></script>
  <!-- main file -->
  <script src="{% static 'main/assets/js/main.js' %}" type="text/javascript"></script>
  <!-- crypto -->
  <script src="{% static 'main/assets/js/pages/crypto.js' %}" type="text/javascript"></script>


</body>

</html>








